.div-button {
    margin: 10px;
}

.div-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-main-Cart {
    background-color: #262d2d;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-total {
    margin: 20px;
    background-color: #96e5d8;
    width: 700px;
    border-radius: 25px;
    padding: 10px;
}

